@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura/FuturaPTLight.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura/FuturaPTMedium.otf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura/FuturaPTBold.otf');
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}
